.parent {
  display: grid;
  place-items: center;
  
  background: lightblue;
  width: 500px;
  height: 500px;
  
  resize: both;
  overflow: auto;
}

.child {

  padding: 1rem;
  border-radius: 10px;
  border: 1px solid red;
  background: lightpink;
  font-size: 2rem;
  text-align: justify;
}

.body {
  font-family: system-ui, serif;
}
.h1 {
  font-size: 1.5rem;
  background: lightblue;
}
.p {
  font-size: 1.5rem;
  background: lightcyan;
  text-align: justify;
}