*{
    text-align: center ;
    list-style: none;
}
.form{
    width: 300px;
    height: 30px;
    margin: auto;
}
.parent {
    display: grid;
    place-items: center;
    
    background: rgb(239, 239, 239);
    width: 500px;
    
    resize: both;
    overflow: auto;
  }
  
  .child {
  
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid rgb(43, 41, 41);
    background: darkgray;
    font-size: 2rem;
    text-align: justify;
  }

  .h1 {
    font-size: 1.5rem;
    background: lightblue;
  }
  .p {
    font-size: 1.5rem;
    background: lightcyan;
    text-align: justify;
  }
  .tombol {
    margin-left : -200px;
  }
  .remove {
    align-items: right;
      margin-right : 60px;
      width: 50px !important;
      height: 50px !important;
      
  }
  .buttons {
    margin-left : -28px;
    width: 70px !important;
    height: 50px !important;
}
.kotak {
  margin-left: -50px;
  align-items: left;
}